<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">

    <title>Results</title>
</head>
<body>
    @using DojoSurvey.Models
    @model DojoSurvey.Models.Survey


    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                Name:
            </div>
            <div class="col-sm-3">
                @Model.Name
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                Dojo Location:
            </div>
            <div class="col-sm-3">
                @Model.Location
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                Favorite Language:
            </div>
            <div class="col-sm-3">
                @Model.Language
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                Comment
            </div>
            <div class="col-sm-3">
                @Model.Comment
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2">
                <a href="/">Go Back</a>
            </div>
        </div>
    </div>
</body>
</html>