<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <title>Home</title>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <a href="/">Home</a>
            </div>
                <div class="col-sm-3">
                <a href="/projects">Projects</a>
            </div>
            <div class="col-sm-3">
                <a href="/contact">Contact</a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-9">
                <h2>About Me</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img src="~/img/sage.jpg" alt="">
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <p>
                    This should be something clever about me, but instead it the lorem ipsum drivel.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Vel orci porta non pulvinar. Eu feugiat pretium nibh ipsum consequat. Diam donec adipiscing tristique risus nec feugiat. 
                    Dictum non consectetur a erat nam. Eu sem integer vitae justo eget magna fermentum iaculis eu. Diam quis enim lobortis 
                    scelerisque fermentum dui faucibus in. Imperdiet proin fermentum leo vel. Eget est lorem ipsum dolor sit amet consectetur adipiscing elit. 
                    Enim tortor at auctor urna. Erat nam at lectus urna duis convallis convallis.
                </p>
            </div>
        </div>
    </div>
</body>
</html>