@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
<h2>Enter your info</h2>

    </div>

@using FormSubmission.Models
@model User
    <form asp-action="Create" asp-controller="Home" method="post">
        <div class="row">
            <div class="col-sm-2">
                <span asp-validation-for="FirstName"></span>
                <label asp-for="FirstName"></label>
            </div>
            <div class="col-sm-3">
                <input asp-for="FirstName">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <span asp-validation-for="LastName"></span>
                <label asp-for="LastName"></label>
            </div>
            <div class="col-sm-3">
                <input asp-for="LastName">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <span asp-validation-for="Age"></span>
                <label asp-for="Age"></label>
            </div>
            <div class="col-sm-3">
                <input asp-for="Age">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <span asp-validation-for="Email"></span>
                <label asp-for="Email"></label>
            </div>
            <div class="col-sm-3">
                <input asp-for="Email">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <span asp-validation-for="Password"></span>
                <label asp-for="Password"></label>
            </div>
            <div class="col-sm-3">
                <input type="password" asp-for="Password">
            </div>
        </div>

        <div class="row">
            <input value="Add User" type="submit">    
        </div>

    </form>
</div>
