@{
    ViewData["Title"] = "Wedding Planner";
}

@using WeddingPlanner.Models
@model User
<br>
<div class="container">
    <div class="row">
    <!-- col 1 -->
    <div class="col-sm-6">

<form asp-action="createuser" asp-controller="Home" method="post">
    <div class="row">
        
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
            <h2>Register</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <span asp-validation-for="FirstName"></span><br>
            <label asp-for="FirstName"></label>
        </div>
        <div class="col-sm-5">
            <br>
            <input asp-for="FirstName">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <span asp-validation-for="LastName"></span><br>
            <label asp-for="LastName"></label>
        </div>
        <div class="col-sm-5">
            <br>
            <input asp-for="LastName">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <span asp-validation-for="Email"></span><br>
            <label asp-for="Email"></label>
        </div>
        <div class="col-sm-5">
            <br>
            <input asp-for="Email">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <span asp-validation-for="Password"></span><br>
            <label asp-for="Password"></label>
        </div>
        <div class="col-sm-5">
            <br>
            <input asp-for="Password">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <span asp-validation-for="Confirm"></span><br>
            <label asp-for="Confirm"></label>
        </div>
        <div class="col-sm-5">
            <br>
            <input asp-for="Confirm">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
            <br>
            <input value="Register" type="submit"> 
        </div>
    </div>
</form>
<!-- col 1 -->
</div>
    <!-- col 2 -->
    <div class="col-sm-6">

    <form asp-action="login" asp-controller="Home" method="post">
    <div class="row">
        
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
            <h2>Login</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <span asp-validation-for="Email"></span><br>
            <label asp-for="Email"></label>
        </div>
        <div class="col-sm-5">
            <br>
            <input asp-for="Email">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <span asp-validation-for="Password"></span><br>
            <label asp-for="Password"></label>
        </div>
        <div class="col-sm-5">
            <br>
            <input asp-for="Password">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
            <br>
            <input value="Login" type="submit"> 
        </div>
        <div class="col-sm-3">

        </div>
    </div>
    </form>


    <!-- col 2 -->
    </div>

    <!-- main row -->
    </div> 

</div>