@{
    ViewData["Title"] = "Login";
}

@using LoginAndReg.Models
@model LoginUser

<br>
<div class="text-center">
    <h2>Login to this Cool Site!</h2>
</div>
<div class="text-right">
    <a href="/">Register</a>
</div>

<div class="container">
    <form asp-action="login" asp-controller="Home" method="post">
    <div class="row">
        <div class="col-sm-4">
                <br><span asp-validation-for="Email"></span><br>
                <label asp-for="Email"></label>
            <br>
                <input asp-for="Email">

            <br><span asp-validation-for="Password"></span><br>
            <label asp-for="Password"></label>
            <br>
                <input asp-for="Password">
            <br>

                <br><br>
        </div>
    </div>
    <div class="row">
        <input value="Login Now!" type="submit"> 
    </div>
    </form>