@{
    ViewData["Title"] = "Categories";
}
@using ProductsAndCategories.Models
@model Category
<div class="text-center">
    <h1>
        <a href="/Products">Products</a>
        &nbsp;|&nbsp;
        Categories
    </h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6" style="border-right: solid 3px black;">
            <h3>New Category</h3>
            <form asp-action="createcategory" asp-controller="Home" method="post">
                <span asp-validation-for="Name"></span><br>
                <label asp-for="Name"></label><br>
                <input asp-for="Name">
                <br><br>
                <input value="Create" type="submit"> 
            </form>
        </div>
        
        <div class="col-sm-6" style="border-left: solid 3px black;">
            <h3>Existing Categories</h3>
            @foreach(var c in ViewBag.AllCats)
            {
                <a href="/categorydetails/@c.CategoryId">@c.Name</a>
                <br>
            }
        </div>
    </div>
</div>