@{
    ViewData["Title"] = "Categories";
}

<br>
<div class="text-center">
    <h1>
        
        Index page
        
    </h1>
</div>
<br>
<div class="row">
    <div class="col-sm-5"></div>
    <div class="col-sm-3">
        <h2>
            <ul>
                <li>
                    <a href="/Categories">Categories</a>
                </li>
                <li>
                    <a href="/Products">Products</a>
                </li>
            </ul>
        </h2>
    </div>
</div>

