@{
    ViewData["Title"] = "Product Page";
}
@using ProductsAndCategories.Models
@model Product
<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>

</div>
<div class="contaier">
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">

        </div>
    </div>
</div>